:root {

    /*--input-color: #99A3BA;*/
    --input-color: #4a5651;
    --input-border: #CDD9ED;
    --input-background: #fff;
    --input-placeholder: #CBD1DC;

    --input-border-focus: #275EFE;

    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #EEF4FF;

    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #678EFE;
    display: flex;
}

.superInput {

    /*width: 90%;*/
    /*box-sizing: border-box;*/

    border: 1px solid var(--input-border);
    border-radius: 4px;
    font-size: 16px;
    /*background-color: white;*/
    /*background-image: url('./pen.png');*/
    /*background-position: 0 3px;*/
    /*background-repeat: no-repeat;*/
    padding: 5px 30px 5px 15px;
    -webkit-transition: width 0.4s ease-in-out;
    /*transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;*/
    transition: width 0.4s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    /*transition-duration: 0.5s;*/
    /*margin-bottom: 0px;*/
}

.superInput::placeholder {
    color: #212529;
    opacity: 0.4;
    /*transition: width 0.9s ease-in-out;*/
    /*margin-bottom: 7px;*/
}

.superInput:focus {
    border-color: rgba(103, 142, 254, 0.9);
    outline: 0;
    box-shadow: 0 0 0 0.15rem rgba(103, 142, 254, 0.9);
}


.spanClass {
    display: inline-block;
    width: 10%;
    height: 18px;
    cursor: pointer;
    border: 1px solid var(--input-border);
    border-radius: 4px;
    font-size: 16px;
    font-palette: dark;
    background-color: white;
    background-image: url('./pen.png');
    background-position: 0 3px;
    background-repeat: no-repeat;
    padding: 6px 20px 6px 30px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.spanClass:focus {
    width: 20%;
}


.errorInput {
    font-size: 14px;
    border: 3px solid red;
    background: var(--group-background);
}

.error {
    color: red;
}
