.wrapper_header {
    background-color: #678EFE;
}

.wrapper_header_table {
    display: grid;
    grid-template-areas: "1 2 3 4 5";
    grid-template-columns: 25% 10% 15% 30% 15%;
    gap: 1%;
    height: 48px;
    cursor: pointer;
    text-decoration: none;
    margin-top: 20px;
}

.header_tableItem {
    padding: 6px;
}