.items {
    display: grid;
    grid-template-areas: "1 2 3 4 5";
    grid-template-columns: 24% 13% 14% 35% 10%;
    align-items: start;
    color: black;
    background-color: #ffffff;
    padding: 10px;
    margin: 0 auto;
    font-size: 20px;
}
