.superWrapper{
    min-height: 100vh;
    margin: 0 auto;
    displey: flex;
    padding: 10px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #bdbdbd;
    border-radius: 20px;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0.2);
    background: rgb(245 246 250);
    height: 540px;
    width: 413px;
}
.container{
    margin: 78px 13px 37px 13px;
}
.containerForEmail{
    margin-top: 50px;
}

.inputField {
    display: flex;
    flex-direction: column;
    height: 4ch;
    align-items: center;
}

.helpText {
    font-size: 1.1rem;
    color: grey;
    margin: 10% 3% 2% 3%;
    font-weight: 400;
}
.helpEmailText {
    font-size: 14px;
    color: grey;
    margin: 10% 3% 2% 3%;
    font-weight: 400;
    text-align: start;
}
.helpEmailText1 {
    font-size: 16px;
    color: grey;
    margin: 10px 3% 2% 3%;
    font-weight: 400;
    text-align: center;
}
.helpEmailTextBold {
    color: black;
    margin: 10px 3% 2% 3%;
    font-weight: 600;
    text-align: center;
    font-size: 22px;
}

.inputError {
    font-size: 1rem;
}

.forgotButton {
    margin: 60px 0 10px 0;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px;
}

.helpTextBold{
    font-size: 18px;
    color: #2c2cd2;
    margin: 2% 3% 2% 3%;
    font-weight: 400;
    text-decoration: none;
}
.photo {
    border-radius: 50%;
    margin-top: 5px;
    height: 50px;
    width: 50px;
}
