.wrapper {
    display: flex;
    /*position: relative;*/
    /*width: 1008px;*/
    /*min-height: 100vh;*/
    /*background: #FEFEFF;*/
    /*border-radius: 8px;*/
    justify-content: center;
    /*align-content: center;*/
    text-align: center;
    /*margin: 20px  auto 20px auto;*/
    /*padding: 0 20px;*/
}

.TableWrapper {
    display: flex;
    /*display: grid;*/
    /*grid-template-areas:*/
    /*        'A'*/
    /*        'B';*/
            /*'A  B B B B B B '*/
            /*'A  B B B B B B';*/
    /*background: linear-gradient(180deg, #678efe0a, #678efe8f); !*изменила фон таблицы*!*/
    background: #678efe0a;
    /*justify-content: center;*/
    /*align-items: center;*/
    /*width: 100%;*/
    min-height: 638px;
}

.ariaA {
    grid-area: A;
    align-content: start;
    /*width: 243px;*/
    align-self: start;
    height: 100%;;
    padding: 25px 25px;
    background: #e5ecff;

}
.ariaAForProfile{
    grid-area: A;
    align-content: start;
    width: 243px;
    align-self: start;
    height: 100%;
    background: #e5ecff;
    padding: 0 10px;
}
.headerBlock{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 3ch;
    background: #F9F9FE;
}
.searchCards{
    display: grid;
    background: #F9F9FE;
    grid-template-columns: 8fr 3fr 5fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 0.5em;
    width: 100%;
    margin-bottom: 5px;
}
.searchCards span {
    font-size: 18px;
    font-weight: 500;
    /*margin-bottom: 5px;*/
}
.content {
    /*grid-area: B;*/
    /*padding: 25px 30px;*/
    background: #F9F9FE;
    border-radius: 5px;

    /*width: 85vw;*/
    /*width: 765px;*/
    /*height: 100%;*/
}

.contentAllMy {
    border-radius: 5px;
    /*align-items: center;*/
    /*background-color: #e5ecff;*/
    font-style: normal;
    font-weight: 400;
    /*font-size: 16px;*/
    /*line-height: 19px;*/
}

.pagination {
    margin: 15px auto;
    display: flex;
    list-style: none;
    outline: none;
}

.pagination > .active > a {
    background-color: #47ccde;
    border-color: #47ccde;
    color: #fff;
}

.pagination > li > a {
    border: 1px solid #47ccde;
    padding: 5px 10px;
    outline: none;
    cursor: pointer;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #47ccde;
    border-color: #47ccde;
    outline: none;
}

.pagination > li > a, .pagination > li > span {
    color: #47ccde
}

.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: unset
}
.ariaA .editProfileWrapper{
    background: #e5ecff;
    height: 216px;
    padding-top:24px;
    padding-top:24px;
}
img {
    border-radius: 50%;
    margin-bottom: 40px;
    width: 96px;
    height: 96px;
}

.inputPlusButton {
    display: flex;
    text-align: start;

}

.allMyWrapper {
    display: inline-flex;
    /*text-align: center;*/
    /*background: #F9F9FE;*/
}

.all {
    width: 97px;
    cursor: pointer;
    font-size: 21px;
    font-weight: 400;
    border: none;
    border-radius: 0 4px 4px 0;
    color: var(--input-background);
}

/*.all:hover, */
.my:hover {
    /*border: #212529 1px solid;*/
    border: 1px solid var(--input-border-focus);
    box-shadow: 0 0 0 0.15rem rgba(103, 142, 254, 0.9);
    outline: 0;
    align-items: center;
}

/*.my {*/
/*    width: 97px;*/
/*    cursor: pointer;*/
/*    border-radius: 4px 0 0 4px;*/
/*    font-size: 21px;*/
/*    font-weight: 400;*/
/*    border: 1px solid var(--input-border);*/
/*    background: var(--input-background);*/
/*}*/
.myClick{
    border-radius: 4px 0 0 4px;
}
.allClick{
    border-radius: 0 4px 4px 0;
}
.allMy{
    width: 100px;
    cursor: pointer;
    font-size: 21px;
    font-weight: 400;
    border: 1px solid var(--input-border);
    background: var(--input-background);
}
.allMy:hover{
    border: 1px solid var(--input-border-focus);
    box-shadow: 0 0 0 0.15rem rgba(103, 142, 254, 0.9);
    outline: none;
    align-items: center;
    transition: box-shadow 0.1s ease-in-out;
}

.allMyClick{
    width: 100px;
    border: none;
    font-size: 21px;
    font-weight: 400;
    color: var(--input-background);
    background: var(--group-background-focus)
}
.tableBlock{
    margin-top: 20px;
    border: 3px solid #e8e8e8;
    border-radius: 4px;
    text-align: left;
}
h3{
    margin-bottom: 20px;
}
