.paginator {
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
}
.pageNumber {
    padding: 0 7px;
    border: 1px solid grey;
    border-radius: 6px;
}

.selectedPage {
    padding: 0 7px;
    /*font-weight: bold;*/
    /*font-size: large;*/
    background-color: #c5dde8;
    border-radius: 6px;

}

.pageNumber.selectedPage {
    /*font-weight: bold;*/
    color: darkblue;
    border-color: black;

}
/*
.unselectedPage {
    font-weight: normal;
}*/
