.superWrapper{
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    padding: 10px;
}
.wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid #bdbdbd;
    border-radius: 15px;
    margin: 0 auto;
    padding: 0 70px 0 50px;
    box-shadow: 0 0 10px rgb(0, 0, 0.2);
    background: rgb(245 246 250);
    max-height: 600px;
    max-width: 400px;
}
.container{
    margin: 78px 13px 37px 13px;
}
.title, .helpText{
    text-align: center;
}
.containerForEmail{
    margin-top: 38px;
}
.containerForPassword{
    margin-top: 24px;
}
.textField {
    /*align-items:start;*/
}
.helpText {
    font-size: 14px;
    color: #737171;
    margin: 10% 3% 2% 3%;
    font-weight: 400;
    text-decoration: none;
}
.helpTextForgotPasswordContainer{
    margin: 28px 0 0 0;
    /*width :101px;*/
    /*height: 17px;*/
    text-align: end
}
.helpTextForgotPassword{
    font-size: 14px;
    color: #737171;
    font-weight: 400;
    text-decoration: none;
}
.helpTextBold {
    font-size: 1.5rem;
    color: #2c2cd2;
    margin: 2% 3% 2% 3%;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
}
.label {
    display: block;
    /*margin-bottom: 0.25rem;*/
    text-align: left;
    font-weight: 300;
    font-size: 14px;
    color: #737171;
    /*margin: 43% 3% 9% 7%;*/
}

.wrapper_submit_checkbox {
    display: flex;
    justify-content: center;
}
.wrapper_submit_button {
    display: inline-block;
    margin-top: 40px;
    width: 100%;
    text-align: center;
}
.passView{
    width: 20px;
    height: 20px;
    color: #4a5651;
}
.passwordField{
    display: flex;
    flex-direction: row;
    max-width: 100%;
}
.viewImage{
    position: relative;
    right: 25px;
    top: 5px;
    width: 0;
    height: 0;
}
