.wrapper {
    display: flex;
    position: relative;
    width: 1008px;
    height: 100%;
    background: #FEFEFF;
    border-radius: 8px;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 20px  auto 20px auto;
}
.TableWrapper {
    display: grid;
    grid-template-areas:
            'A  B B B B B B '
            'A  B B B B B B';
    /*background: linear-gradient(180deg, #678efe0a, #678efe8f); !*изменила фон таблицы*!*/
    background: #678efe0a;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 638px;
}
.items {
    display: grid;
    grid-template-areas: "1 2 3 4 5";
    grid-template-columns: 23% 23% 23% 23%;
    /*grid-template-columns: 17% 19% 20% 20% 20%;*/
    color: black;
    background-color: #ffffff;
    padding: 10px;
    margin: 0 auto;
    font-size: 20px;
    align-items: center;
    justify-items: center;
}
