
.initial {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 400px;
    height: 500px;
    border-radius: 16px;
    margin: 2% 0 0 30%;
    box-shadow: 0 0 10px rgb(0, 0, 0.2);

}

.inputField {
display: flex;
    flex-direction: column;
    height: 4ch;
    align-items: center;
}
.helpText {
    font-size: 1.1rem;
    color: grey;
    margin: 5% 3% 2% 3%;
    font-weight: 400;
}

.inputError {
    font-size: 1rem;
}

.forgotButton {
    width: 60%;
    margin: 10px 0 10px 20%;
    font-size: 16px;
    border-radius: 14px;
    padding: 5px;
}

.forgotEmail {
    display: flex;
    justify-content: center;
    margin: 6% 0 1% 0;
    height: 7ch;
    font-size: 1rem;
    color: darkslateblue;
}