.testing {
    display: flex;
    width: auto;
    /*background-color: #678EFE;*/
    /*color: white;*/
    flex-direction: column;
    /*list-style-type: none;*/
    padding: 0 20px;
    /*justify-content:space-between;*/
}